.create-event-wrapper {
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 30px;
    border-radius: 12px; /* Abgerundete Ecken */
    width: 100%;
    max-width: 400px; /* Maximale Breite des Formulars */
    margin: auto;
  }
  
  .create-event-heading {
    font-size: 1.3rem;
    color: white;
    font-weight: bolder;
    margin-bottom: 2vh;
  }
  h2 span {
    color: #8C43D0;
    font-weight: bolder; /* Heller Grauton für Kontrast */
  }
  
  .create-event {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Abstand zwischen den Formularelementen */
  }
  
  .create-event-input {
    padding: 15px;
    border: none;
    border-radius: 8px; /* Abgerundete Ecken */
    margin-bottom: 10px;
    background-color: #333;
    color: white;
  }
  
  .create-event-input::placeholder {
    color: white; /* Farbe des Platzhalters */
  }
  
  .date-picker {
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
  .create-event-submit-button {
    --background: #8C43D0; /* Hintergrundfarbe des Buttons */
    --background-activated: #9747e2; /* Hintergrundfarbe bei Aktivierung */
    --background-focused: #9747e2; /* Hintergrundfarbe bei Fokus */
    --border-color: #8C43D0; /* Rahmenfarbe */
    --color: #fff; /* Textfarbe */
    width: 40%;
    font-weight: bold;
    position: fixed; /* Position festlegen */
    bottom: 15vh; /* Über dem Footer */
    left: 50%; /* Zentrierung auf der X-Achse */
    transform: translateX(-50%); /* Präzise Zentrierung */
    border-radius: 8px; /* Abgerundete Ecken */
  }
  .radio-group{
    display: flex;
    justify-content: space-around;
    color: white;
  }
  .radio-input {
    display: none; /* Verstecke die Standard-Radio-Buttons */
  }
  
  .radio-label {
    display: inline-block;
    padding-left: 30px; /* Platz für den benutzerdefinierten Radio-Button */
    position: relative;
    margin-right: 20px; /* Abstand zwischen den Radio-Buttons */
    cursor: pointer;
    color: white; /* Farbe des Textes */
  }
  
  .radio-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px; /* Größe des benutzerdefinierten Radio-Buttons */
    height: 12px; /* Größe des benutzerdefinierten Radio-Buttons */
    border: 6px solid #333; /* Rahmen des benutzerdefinierten Radio-Buttons */
    border-radius: 50%; /* Kreisförmig machen */
    background-color: transparent;
  }
  
  .radio-input:checked + .radio-label:before {
    background-color: #9a67ea; /* Hintergrundfarbe, wenn Radio-Button ausgewählt ist */
  }
  .file-label {
    display: block;
    padding: 12px 20px;
    color: white;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .file-input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  