.small-map-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    margin-top: -16%;
}

small-map{
    width: 100%;
    height: 100%;
}

.eventDetailHeadline{
    color: var(--ion-color-tertiary);
    border-bottom: 2px var(--ion-white) solid;
    padding: 3%;
}

.event-preview-header-icon-box {
    margin:-10% 1% 1% 66%;
    display: flex;
    gap: 1rem;
    width: 40%;
}
.event-preview-content-category {
    box-sizing: border-box;
    width: fit-content;
    border: 2px solid black;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
}

#event-location-detail{
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
.event-detail-container {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    max-width: 400px; /* Anpassen je nach Bildschirmgröße */
    margin: auto;
    padding: 20px;
  }
  
  .event-detail-header {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vh;
  }
  
  .event-detail-header h1 {
    margin: 0;
    font-weight: bolder;
    color:#8c43d0;
  }
  .img-detail-content{
    border-radius: 30px;
  }
  .event-detail-date-content p{
    font-size: 25px;
    font-weight: bolder;
  }
  .detail-content-event{
    margin-top:-1vh ;
  }
  #button-box{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
  }
  #publish-join-button{
    --background: #333; /* Hintergrundfarbe des Buttons */
    --border-color: #333; /* Rahmenfarbe */
    --background-activated: #444; /* Hintergrundfarbe bei Aktivierung */
    --background-focused: #444; /* Hintergrundfarbe bei Fokus */
    --color: #fff; /* Textfarbe */
    width: 30vw;
    font-weight: bold;
    margin-top: 25vh; /* Abstand zum oberen Element */
    --border-radius: 20px; /* Abgerundete Ecken */

  }

  