
.profile-content-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 60vh;
    vertical-align: middle;
    z-index: -1;
}
.profile{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    
}
.profile-input {
    margin: 4% 2% 2% 2%;
    padding: 3%;
    background-color: var(--ion-color-primary);
    border:var(--ion-color-tertiary) solid 1px;
    border-radius: 10px;
    color: var(--ion-color-tertiary);
}
.profile-submit-button {
    --padding: 3%;
    --background: var(--ion-black);
    --color: var(--ion-white);
    margin: 3%;   
}.profile-input:focus{
    outline: 1px solid #ff5400;
}
