.registration-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000; /* Schwarzer Hintergrund */
    color: #fff; /* Weiße Textfarbe */
    font-family: 'Arial', sans-serif;
  }
  .registration-heading{
    color: #9747e2;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 20px;
  }
  #register-back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    cursor: pointer;
  }
  
  ion-icon {
    font-size: 1.5rem; /* Größe des Icons */
  }
  
  .register {
    width: 90%; /* Breite des Login-Blocks */
    max-width: 400px; /* Maximale Breite */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .register-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px; /* Abstand zwischen den Feldern */
    background: #222; /* Hintergrundfarbe der Eingabefelder */
    border: 1px solid #222; /* Rahmen der Eingabefelder */
    border-radius: 8px; /* Abgerundete Ecken */
    color: white; /* Textfarbe */
    font-size: 1rem; /* Schriftgröße */
  }
  .register-input:focus{
    border: 1px solid #9747e2;
  }
  
  .register-input::placeholder {
    color: #999; /* Farbe des Platzhaltertextes */
  }
  
  .login-submit-button {
    --background: #8C43D0; /* Hintergrundfarbe des Buttons */
    --background-activated: #9747e2; /* Hintergrundfarbe bei Aktivierung */
    --background-focused: #9747e2; /* Hintergrundfarbe bei Fokus */
    --border-color: #8C43D0; /* Rahmenfarbe */
    --color: #fff; /* Textfarbe */
    width: 100%;
    font-weight: bold;
    margin-top: 15px; /* Abstand zum oberen Element */
    border-radius: 8px; /* Abgerundete Ecken */
  }
  
  p {
    color: #fff; /* Farbe des Paragrafen */
    font-size: 0.9rem; /* Schriftgröße */
    margin-top: 20px; /* Abstand nach oben */
  }
  
  p span {
    color: #8C43D0;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: underline; /* Unterstrichen */
  }
  